<h4 class="name">{{team.name}} {{#if team.isSuccess}}✔{{/if}}</h4>

<h5>Attempts</h5>
{{#each team.attempts as |attempt|}}
  {{attempt-section attempt=attempt}}
{{else}}
  <p class='empty'>None scheduled yet.</p>
{{/each}}
