* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background: url(/images/old_moon.png);
}

.winning-header {
  text-align: center;
  font-family: 'Racing Sans One', cursive;

  .winning-stats {
    .goal {
      width: 50%;
      margin: 0 auto 1em;
    }
    text-align: center;
    font-family: 'Raleway', sans-serif;

    .progress {
      display: inline-block;
    }
  }
}

.sport-section {
  text-align: center;
  .name {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    display: inline-block;
  }
  .team-sections {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.team-section {
  text-align: center;
  width: 300px;
  padding: 0.25em;
  .name {
    font-family: 'Raleway', sans-serif;
    color: gray;
  }
  &.is-success .name {
    font-weight: bolder;
    color: darkgreen;
  }
  .empty {
    font-style: italic;
  }
}

.team-checkbox {
  display: inline-block;
  width: 30px;
  height: 30px;
  border: 3px solid darkgray;
  background-color: gray;

  &.is-success {
    background-color: green;
  }
}

.attempt {
  padding: 0.25em;
  &.is-success {
    background-color: lightgreen;
  }
  &.is-failure {
    background-color: lightcoral;
  }
}
