* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background: url(/images/old_moon.png);
}

.winning-header {
  text-align: center;
  font-family: 'Racing Sans One', cursive;
  background: url(/images/old_moon.png);

  padding: 2em 0 2em 0;
  border-bottom: 3px solid gray;
  margin-bottom: 2em;
  z-index: 2;

  position: fixed;
  top: 0;
  width: 100%;

  #title {
    margin: 0;
  }

  .winning-stats {
    .goal {
      width: 50%;
      margin: 0 auto 1em;
    }
    text-align: center;
    font-family: 'Raleway', sans-serif;

    .progress {
      display: inline-block;
    }
  }
}

section#main {
  z-index: 1;
  margin-top: 280px; /* to account for fixed header */
}

.sport-section {
  text-align: center;
  .name {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    display: inline-block;
  }
  .team-sections {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.team-section {
  text-align: center;
  width: 300px;
  padding: 0.25em;
  .name {
    font-family: 'Raleway', sans-serif;
    color: gray;
  }
  &.is-success .name {
    font-weight: bolder;
    color: darkgreen;
  }
  .empty {
    font-style: italic;
  }
}

.team-checkbox {
  display: inline-block;
  width: 30px;
  height: 30px;
  border: 3px solid darkgray;
  background-color: gray;

  &.is-success {
    background-color: green;
  }
}

.attempt {
  padding: 0.25em;
  &.is-success {
    background-color: lightgreen;
  }
  &.is-failure {
    background-color: lightcoral;
  }
}
